:org.apache.felix.configadmin.revision:=L"2"
felix.fileinstall.filename="file:/C:/Projects_openHab/PR_12_2/userdata/etc/org.apache.karaf.kar.cfg"
karStorage="C:\\Projects_openHab\\PR_12_2\\userdata/tmp/kar"
noAutoRefreshBundles="false"
noAutoStartBundles="false"
service.bundleLocation="?"
service.pid="org.apache.karaf.kar"
